.primera {
  min-height: 100vh;
}

.left {
  width: 100vw;
  justify-content: flex-end;
  display: flex;
}

.left img {
  width: 50vw;
  min-height: 100vh;
}

.header .navbar {
  background-color: transparent !important;
}
