html {
	scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  max-width: 100vw;
  position: fixed;
  right: 0px;
  z-index: 10;
}

.first{
  height: 100vh;
  position: relative;
  bottom: 0px;
}

.img{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 50%;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.titles {
  position: relative;
  top: 40%;
  left: 5%;
  max-width: 90vw;
}

.arrow {
  position: absolute;
  bottom: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: float 3s ease-in-out infinite;
}

.content{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  margin-top: 2%;
}

.second-about-me {
  width: 50%;
  padding: 0 2% 0 0;
}

.second-cards {
  padding: 0% 2% 0% 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: rgba(242, 242, 242, 0.5); 1px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.73);
  -moz-box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.73);
  box-shadow: -1px 10px 17px -9px rgba(0,0,0,0.73);
}

.badges {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Hide scrollbar
body {overflow: hidden; }
body::-webkit-scrollbar { width: 0 !important; }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }
*/
/* Floating Animation */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
